In [6]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [3]:
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [7]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [8]:
df

             A         B
G1 1  1.286411 -0.790455
   2 -1.088348  0.485246
   3  0.811800 -1.107478
G2 1  0.284881 -0.611406
   2 -1.792409 -0.350359
   3  0.820903 -0.465822

In [9]:
df.loc['G1']

          A         B
1  1.286411 -0.790455
2 -1.088348  0.485246
3  0.811800 -1.107478

In [10]:
df.loc['G1'].loc[1]

A    1.286411
B   -0.790455
Name: 1, dtype: float64

In [12]:
df.index.names = ['Groups', 'Num']

In [13]:
df

                   A         B
Groups Num
G1     1    1.286411 -0.790455
       2   -1.088348  0.485246
       3    0.811800 -1.107478
G2     1    0.284881 -0.611406
       2   -1.792409 -0.350359
       3    0.820903 -0.465822

In [16]:
df.loc['G2'].loc[2]['B']

-0.35035895024758473

In [18]:
df.xs('G1')

            A         B
Num
1    1.286411 -0.790455
2   -1.088348  0.485246
3    0.811800 -1.107478

In [19]:
df.xs(1, level='Num')

               A         B
Groups
G1      1.286411 -0.790455
G2      0.284881 -0.611406